name: Coverage

on:
  pull_request:

permissions:
  contents: read
  pull-requests: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup JDK 21
        uses: actions/setup-java@v5
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: maven

      - name: Build and Test with JaCoCo
        run: mvn clean verify -B

      - name: Upload JaCoCo Report
        uses: actions/upload-artifact@v4
        with:
          name: jacoco-report
          path: |
            target/site/jacoco/jacoco.xml
            target/site/jacoco/index.html

      - name: Add coverage to PR
        uses: madrapps/jacoco-report@v1.6.1
        with:
          paths: target/site/jacoco/jacoco.xml
          token: ${{ secrets.GITHUB_TOKEN }}
          min-coverage-overall: 80
          min-coverage-changed-files: 80
          title: '# :recycle: Coverage Report'
          update-comment: true
          pass-emoji: ':green_circle:'
          fail-emoji: ':red_circle:'
          continue-on-error: 'false'

#      - name: Fail PR if overall coverage is less than 80%
#        if: ${{ steps.jacoco.outputs.coverage-overall < 80 }}
#        uses: actions/github-script@v6
#        with:
#          script: |
#            core.setFailed('Overall coverage is less than 80%!')
